/*--------------------------------------------------------------
TOP HEADER CSS
--------------------------------------------------------------*/

.top-header-section {
    background: lighten($top_header_background, 0.3);
    font-size: 12px;
    padding: 10px 0;
    border-top: 2px solid $primary_color;
    .date-section {
        float: left;
        margin-right: 15px;
        color: $white_color;
        &::before {
            content: "\f017";
            display: inline-block;
            font-family: FontAwesome;
            margin-right: 8px;
        }
    }
}

.top-menu ul, #footer-navigation ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.top-menu ul li, #footer-navigation ul li {
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    line-height: 12px;
    margin-right: 10px;
    padding: 0 0 0 10px;
}

.top-menu ul li {
    border-left: 2px solid $primary_color;
}

.top-menu ul li a, #footer-navigation ul li a {
    color: $white_color;
}

.top-menu ul li a:hover, #footer-navigation ul li a:hover {
    color: $primary_color;
}

#top-header-navigation {
    float: left;
}

#footer-navigation ul li ul {
    display: none;
}

.header-search-wrapper:hover a, .random-post:hover a {
    color: #c1c1c1;
}

#teg-menu-wrap {
    .random-post {

        float: right;
        a {
            display: block;
            line-height: 40px;
            padding: 0 12px;
            background: $primary_color;
            color: #fff;
            margin-left: 5px;
            fa {
                color: #fff;
            }
        }
    }
}

header.style-2 {

    .top-header-section {

        border-top: 0;
    }

    .eggnews-ticker-wrapper {

        margin-top: -1px;
        border-top: 1px solid #fff;
    }
}

.site-header {
    &.style-4 {

        .site-branding {
            float: none;
            margin: 0 auto;
            text-align: center;
            .site-title-wrapper {
                float: none;
                text-align: center;
            }
        }
        .header-ads-wrapper {

            float: none;
            margin: 0 auto;
            text-align: center
        }
    }
}

.teg-menu-wrap-sticky-wrapper {
    margin-bottom: 1px;
}
progress#reading-progress-indicator {
    background-color: $primary_color;
    &::-webkit-progress-bar{
        background-color: #fff;
    }
    &::-webkit-progress-value{
        background-color: $primary_color;
    }

}


.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
    overflow: hidden;
}

.preloader-gif{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
}

